.grid-container {
    display: grid;
    grid-template-areas:
        'navbar'
        'header'
        'content'
        'footer';
}

.navbar {
    grid-area: navbar;
    background-color: aqua;
    text-align: center;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: lightskyblue;
    text-align: center;
    padding: 100px;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    text-align: center;
    padding: 130px;
    color: black;
}

.footer {
    grid-area: footer;
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}