@media (max-width: 600px){
    .grid-container {
        display: grid;
        grid-template-areas:
            'navbar navbar navbar'
            'header header header'
            'leftbar content rightbar'
            'footer footer footer';
    }
}
.navbar {
    grid-area: navbar;
    background-color: black;
}

.header {
    grid-area: header;
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    text-align: center;
    padding: 100px;
}

.leftbar {
    grid-area: leftbar;
    background-color: lightslategrey;
    text-align: center;
    padding: 130px;
}

.rightbar {
    grid-area: rightbar;
    background-color: lightslategrey;
    text-align: center;
    padding: 130px;
}
.footer {
    grid-area: footer;
    background-color: #C70039;
    text-align: center;
    color: #ffffff;
    padding: 25px 30PX 25PX 100px;
}
/*Navigation Bar*/
ul {
    list-style-type: none;
    overflow: auto;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: "Open Sans";
    color: #C70039;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 25px 10px 25px 100px;
}

li a:hover {
    color: #fedd1f;
}

#logo {
    color: #b30033;
    font-family: "Castellar";
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 5px 1px 10px #C70039;
    font-weight: bolder;
    padding: 10px 30px 25px 100px;
}
/*header*/
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.headerbutton {
    background-color: #C70039;
    border: none;
    color: #ffffff;
    padding: 20px 37px;
    text-align: center;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
}

.headerbutton:hover {
    background-color: #cc194c;
}

/* Card */
.column {
    float: left;
    width: 25%;
    padding: 10px 0px 10px 0px;
}

.row {
    margin: 0 -5px;
}

.card {
    width: 90%;
    border-style: solid;
}

.container {
    padding: 10px 25px;
}

#customtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

#customtable td, #customtable th {
    border: 1px solid #fbfbfb;
    padding: 10px;
    text-align: center;
}

#customtable tr:nth-child(even) {
    background-color: #d9d9d9;
}

#customtable tr:hover {
    background-color: #013942;
    color: #fbfbfb;
}

#alamat {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #C70039;
    color: #ffffff;
}